USE [master]
GO
/****** Object:  Database [ADMIN_1]    Script Date: 02.12.2021 7:37:59 PM ******/
CREATE DATABASE [ADMIN_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADMIN_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRES\MSSQL\DATA\ADMIN_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADMIN_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRES\MSSQL\DATA\ADMIN_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADMIN_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADMIN_1]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02.12.2021 7:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (1, N'darthvader', N'pera321', N'Anakin Skaywalker', 0)
INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (2, N'c3po', N'newhope', N'C3PO', 1)
INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (3, N'lukes', N'newhope', N'Luke Skaywalker', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
